.roshan-icon-group{
  flex: 40%;
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-top: 10px;
}

@media screen and (max-width: 200px){
  .roshan-icon-group{
    flex-direction: row;
    justify-content: center;
  }
}
