@import '../../../../../shared-styles/header-texts';

.contact-us button{
  text-decoration: none;
  margin-left: 30px;
  @include headerText();
}

.contact-us{
  margin-top: 20px;
}

.contact-us button{
  border-color: transparent;
  background-color: transparent;
}

@media only screen and (max-width: 800px){
  .contact-us button{
    margin-left: 25px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 700px){
  .contact-us button{
    margin-left: 20px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px){
  .contact-us button{
    margin-left: 10px;
    font-size: 20px;
  }
}
