#alefba{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#alefba #mobile{
  height:100vh;
}

#alefba #web{
  margin-top: 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#alefba #web #text{
  height: 40vh;
  width: 40vw;
}

#background {
  width: 100vm;
  height: 100vh;
  position:absolute;
}


#alefba #web #image{
  height: 40vh;
  width: 40vw;
}

#alefba #web #space{
  width: 45vw;
}

@media screen and (min-width: 500px){
  #alefba #mobile{
    display: none;
  }

  #alefba #web{
    display: flex;
  }
}
