#alefba{
  display: flex;
  justify-content: center;
  align-items: center;
}

#alefba #mobile{
  height:100vh;
}

#alefba #web{
  margin-top: 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#alefba #web #text{
  height: 300px;
}

#alefba #web #image{
  height: 250px;
}

#alefba #web #space{
  width: 500px;
}

@media screen and (min-width: 500px){
  #alefba #mobile{
    display: none;
  }

  #alefba #web{
    display: flex;
  }
}
