.join-us #button{
  height: 3.55vh;
  width: 5.86vw;
}

#button:hover{
  #text{
    fill: #7AB8FF
  }
}

@media screen and (max-width: 500px){
  .join-us #button{
    padding-top: 10vh;
    height: 5.24vh;
    width: 28.62vw;
  }
}
