@import '../../../../../shared-styles/header-texts';

.small-roshan-title p{
  margin-right: 15px;
  margin-top: 18px;
  @include headerText();
}

@media screen and (max-width: 800px){
  .small-roshan-title p{
    font-size: 13px;
    margin-top: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px){
  .small-roshan-title p{
  }
}


@media screen and (max-width: 700px){
  .small-roshan-title p{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
    margin-right: 5px;
  }
}
