@import "./src/shared-styles/header-mediaqueries";

.earth-background .background{
  height: auto;
  width:auto;
  float: left;
  position: relative;
}

.earth-background .big-title{
  height: auto;
  width:auto;
  top:350px;
  left:680px;
  position: absolute;
}

.earth-background .description{
  height: auto;
  width:auto;
  top:440px;
  left:540px;
  position: absolute;
}

.earth-background .mouse{
  height: auto;
  width:auto;
  top:600px;
  left:750px;
  position: absolute;
}


@include header-mediaquery(1400px,auto,350px,600px,auto,440px,470px,auto,600px,660px,)
@include header-mediaquery(1200px,auto,350px,400px,auto,440px,270px,auto,600px,460px,)
@include header-mediaquery(850px,40px,350px,300px,21px,440px,170px,25px,600px,360px,)
@include header-mediaquery(700px,35px,365px,300px,19px,440px,170px,22px,550px,340px,)
@include header-mediaquery(600px,30px,372px,250px,17px,440px,130px,20px,550px,290px,)
@include header-mediaquery(500px,30px,379px,200px,17px,440px,82px,20px,550px,240px,)
@include header-mediaquery(450px,30px,379px,170px,15px,440px,75px,20px,550px,210px,)
@include header-mediaquery(400px,27px,379px,160px,15px,440px,60px,20px,550px,200px,)
@include header-mediaquery(370px,25px,385px,145px,13px,460px,55px,20px,540px,170px,)
@include header-mediaquery(320px,25px,390px,120px,13px,460px,35px,20px,540px,150px,)
