.earth-background .background{
  height: auto;
  width:auto;
  float: left;
  position: relative;
}

.earth-background .big-title{
  height: auto;
  width:auto;
  top:350px;
  left:680px;
  position: absolute;
}

.earth-background .description{
  height: auto;
  width:auto;
  top:440px;
  left:540px;
  position: absolute;
}

.earth-background .mouse{
  height: auto;
  width:auto;
  top:600px;
  left:750px;
  position: absolute;
}
