#hazm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hazm #mobile{
  height: 100vh;
}

#hazm #web{
  margin-top: 210px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#hazm #web #text{
  height: 300px;
}

#hazm #web #image{
  height: 250px;
}

#hazm #web #space{
  width: 600px;
}

@media screen and (min-width: 500px){
  #hazm #mobile{
    display: none;
  }

  #hazm #web{
    display: flex;
  }
}
