#hazm{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hazm #mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hazm #web{
  margin-top: 210px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#background {
  width: 100vm;
  height: 100vh;
  position:absolute;
}


#hazm #web #text{
  height: 40vh;
  width: 40vw;
}

#hazm #web #image{
  height: 50vh;
  width: 50vw;
}

#hazm #web #space{
  width: 40vw;
}

@media screen and (min-width: 500px){
  #hazm #mobile{
    display: none;
  }

  #hazm #web{
    display: flex;
  }
}
