#link-kashf:hover{
  #text{
    fill:#C99FFF;
  }
}

#link-alefba:hover{
  #text{
    fill: #FFC39D;
  }
}

#link-harf:hover{
  #text{
    fill:#9FFFC5;
  }
}

#link-hazm:hover{
  #text{
    fill:#A3D4FF;
  }
}
