#hazm #mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hazm #web{
  margin-top: 32.64vh;
  flex-direction: row;
  margin-right: 14.77vw;
  margin-left: 16.71vw;
  height: 35vh;
  width: 68.44vw;
  justify-content: center;
  align-items: center;
  display: none;
}

#hazm #web #text{
  height: 37.91vh;
  width: 32.9vw;
}

#hazm #web #space-between{
  width: 17.35vw;
}


#hazm #web #image{
  height: 25.41vh;
  width: 20vw;
}

@media screen and (min-width: 500px){
  #hazm #mobile{
    display: none;
  }

  #hazm #web{
    display: flex;
  }
}
