#clients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: row;
}
#space{
  height: 100px;
}

#space-bottom{
  height: 50px;
}

#space-row{
  width: 100px;
}
