#alefba #mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#alefba #web{
  margin-top: 32.64vh;
  flex-direction: row;
  margin-right: 14.69vw;
  margin-left: 18.36vw;
  height: 35vh;
  width: 68.44vw;
  justify-content: center;
  align-items: center;
  display: none;
}

#alefba #web #text{
  height: 34.73vh;
  width: 33.75vw;
}

#alefba #web #space-between{
  width: 17.35vw;
}


#alefba #web #image{
  height: 32.36vh;
  width: 15.79vw;
}

@media screen and (min-width: 500px){
  #alefba #mobile{
    display: none;
  }

  #alefba #web{
    display: flex;
  }
}
