#harf #mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#harf #web{
  margin-top: 32.64vh;
  flex-direction: row;
  margin-right: 16.4vw;
  margin-left: 14.92vw;
  height: 35vh;
  width: 68.68vw;
  justify-content: center;
  align-items: center;
  display: none;
}

#harf #web #text{
  height: 34.73vh;
  width: 33.44vw;
}

#harf #web #image{
  height: 20.5vh;
  width: 25vw;
}

#harf #web #space-between{
  width: 11vw;
}
@media screen and (min-width: 500px){
  #harf #mobile{
    display: none;
  }

  #harf #web{
    display: flex;
  }
}
