#kashf{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#kashf #web{
  margin-top: 250px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#kashf #mobile{
  height: 100vh;
}

#kashf #web #text{
  height: 40vh;
  width: 40vw;
}

#background {
  width: 100vm;
  height: 100vh;
  position:absolute;
}

#kashf #web #image{
  height: 30vh;
  width: 30vw;
}

#kashf #web #space{
  width: 20vw;
}

@media screen and (min-width: 500px){
  #kashf #mobile{
    display: none;
  }

  #kashf #web{
    display: flex;
  }
}
