@mixin slide-style(
  $slide-name,
  $space-between,
  $space-top,
  $text-size-width,
  $text-size-height,
  $image-size-width,
  $image-size-height,
){
  #background {
    width: 100vm;
    height: 100vh;
    position:absolute;
  }

  #{$slide-name} {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #{$slide-name} #mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #{$slide-name} #web{
    margin-top:$space-top;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #{$slide-name} #web-firefox{
    margin-top:$space-top;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #{$slide-name} #web #text{
    height: $text-size-height;
    width: $text-size-width;
  }

  #{$slide-name} #web #space-between{
    width: $space-between;
  }


  #{$slide-name} #web #image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $image-size-height;
    width: $image-size-width;
  }


  #{$slide-name} #web-firefox #text{
    height: $text-size-height;
    width: $text-size-width;
  }

  #{$slide-name} #web-firefox #space-between{
    width: $space-between / 2;
  }


  #{$slide-name} #web-firefox #image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $image-size-height - 15vh;
    width: $image-size-width - 15vw;
  }

  @media screen and (min-width: 500px){
    #{$slide-name} #mobile{
      display: none;
    }

    #{$slide-name} #web{
      display: flex;
    }

    #{$slide-name} #web-firefox{
      display: flex;
    }
  }
}
