#harf{
  display: flex;
  justify-content: center;
  align-items: center;
}

#harf #web{
  margin-top: 200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#harf #mobile{
  height: 100vh;
}

#harf #web #text{
  height: 300px;
}

#harf #web #image{
  height: 170px;
}

#harf #web #space{
  width: 600px;
}

@media screen and (min-width: 500px){
  #harf #mobile{
    display: none;
  }

  #harf #web{
    display: flex;
  }
}
