.roshan-icon .icon{
  margin-top: 17px;
  height: 65px;
  width: 65px;
  margin-right: 130px;
}

@media screen and (max-width: 800px){
  .roshan-icon .icon{
    margin-right: 70px;
    margin-top: 23px;
    height: 25px;
  }
}

@media screen and (max-width: 400px){
  .roshan-icon .icon{
    margin-right: 0;
  }
}

@media screen and (max-width: 700px){
  .roshan-icon .icon{
    margin-right: 20px;
    height: 20px;
  }
}
