.right-icon-group{
  flex: 25%;
  display: flex;
  justify-content: right;
  flex-direction: row;
}

@media screen and (max-width: 200px){
  .right-icon-group{
    flex-direction: row;
    justify-content: center;
  }
}
