.roshan-title #title{
  width: 3.5vw;
  height: 3.8vh;
;
}

#title:hover{
  #text{
    fill: #7AB8FF
  }
}

@media screen and (max-width: 500px){
  .roshan-title #title{
    margin-right: 1.33vw;
    width: 12.5vw;
    height: 4.18vh;
  }
}
