.wrapper #progress-indicator{
    height: 45vh;
    margin-top:27.5vh;
    width:45vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .wrapper #progress-indicator{
        height: 70vh;
        margin-top:14vh;
        width:70vw;
    }

}
