@import '../../../../../shared-styles/header-texts';

.work-with-us a{
  text-decoration: none;
  margin-left: 150px;
  @include headerText();
}

.work-with-us{
  margin-top: 20px;
}


@media only screen and (max-width: 800px){
  .work-with-us a{
    margin-left: 70px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px){
  .work-with-us a{
    margin-left: 10px;
    font-size: 10px;
  }
}
