.left-text-group {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin-top: 10px;
  flex: 60%;
  order:1;
}

@media screen and (max-width: 400px){
  .left-text-group{
    display: none;
  }
}
