.menu-buttons {
  display: none;
  width: 60px;
  height: 50px;
  order:1;
}

.menu-buttons button{
  background-color: transparent;
  border-color: transparent;
}

.menu-buttons #hidden{
  display: none;
}

.menu-buttons .icon{
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 400px){
  .menu-buttons {
    display: flex;
  }
}
