.compact-group {
  display: none;
  width: 60px;
  height: 50px;
  order:1;
}

.compact-group button{
  background-color: transparent;
  border-color: transparent;
}
.compact-group #hidden{
  display: none;
}

.compact-group .icon{
  float: left;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 400px){
  .compact-group {
    display: flex;
  }
}
