.compact-group {
  display: none;
  width: 60px;
  height: 50px;
  order:1;
}

.compact-group .icon{
  float: left;
  height: 50px;
  padding-left: 25px;
  padding-top: 20px;
}
@media screen and (max-width: 400px){
  .compact-group {
    display: flex;
  }
}
