

#kashf #mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#kashf #web{
    margin-top: 32.64vh;
    flex-direction: row;
    margin-right: 17.96vw;
    margin-left: 13.6vw;
    height: 35vh;
    width: 68.44vw;
    justify-content: center;
    align-items: center;
    display: none;
}

#kashf #web #text{
    height: 34.73vh;
    width: 33.2vw;
}

#kashf #web #space-between{
    width: 20.86vw;
}


#kashf #web #image{
    height: 25.78vh;
    width: 14.5vw;
}

@media screen and (min-width: 500px){
    #kashf #mobile{
        display: none;
    }

    #kashf #web{
        display: flex;
    }
}
